.pagination{
    display: flex; align-items: center; justify-content: center; 
    button{
        width: 40px; height: 40px; margin: 0 5px;
        font-weight: bold; color: #505050; border-radius: 5px;
        background-color: #ffffff;  border: 2px solid #505050;
        cursor: pointer; outline: none;
        &.active{
            border-color: #1eabe0;
        }
    }
    .info{
        margin: 0 0 0 auto;
    }
}